@import "tailwindcss";

@theme {
  --color-lotus-blue: #0A192F;
  --color-lotus-gold: #D4AF37;
  --color-lotus-gold-light: #F3E5AB;
}

/* Fundo escuro padrão da página inteira */
body {
  background-color: var(--color-lotus-blue);
  color: white;
}